<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>MinneHack2023</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            <h1>Community Impact</h1>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <button onclick="window.location.href='/post'" class="dropbtn" style="position: absolute; right:0; top:0; border-radius: 0%; background-color: #3e8e41; color: #EAE7B1;">Post An Event</button>
          
        </div>
      </nav>
      

