<%- include('./partials/header.ejs') %>
<form method="post" action="/submit">
    <label for="title">Event Name</label>
    <input type="text" name="Name" required>
<br>
    <label for="Description">Description</label>
    <textarea name="Description" id="" cols="30" rows="10" required></textarea>
<br>

<h3>Event Type</h3>
<input type="radio" name="optradio" value="volunteering">
<label for="Type">Volunteering</label>
<br>
<input type="radio" name="optradio" value="political engagement">
<label for="Type">Political Engagement</label>
<br>
<input type="radio" name="optradio" value="recreation">
<label for="Type">Recreation</label>
<br>
<input type="radio" name="optradio" value="donation">
<label for="Type">Donation</label>
<br>
<input type="radio" name="optradio" value="community service">
<label for="Type">Community Service</label>
  <br>
  <br>
    <h3>Address</h3>
    <label for="street">Street</label>
    <input type="text" name="Street" required>
    <br>
    <label for="street">City</label>
    <input type="text" name="City" required>
    <br>
    <label for="street">Zip</label>
    <input type="number" name="Zip" required>
    <br>
    
      
    <br>
    
      
    <button type="submit" name="postButton">Submit</button>
</form>
<%- include('./partials/footer.ejs') %>