<%- include('./partials/header.ejs') %>
<form method="post" action="/submit">
    <label for="title">Event Name</label>
    <input type="text" name="Name" required>
<br>
    <label for="Description">Description</label>
    <textarea name="Description" id="" cols="30" rows="10" required></textarea>
<br>

<h3>Event Type</h3>
<input type="radio" name="Type" value="civic learning">
<label for="Type">Civic Learning</label>
<br>
<input type="radio" name="Type" value="political engagement">
<label for="Type">Political Engagement</label>
<br>
<input type="radio" name="Type" value="community service">
<label for="Type">Community Service</label>
<br>
<input type="radio" name="Type" value="activism">
<label for="Type">Activism</label>
<br>
<input type="radio" name="Type" value="fundraising">
<label for="Type">Fundraising</label>
<br>

  <br>
    <input id="autocomplete" name="Address" placeholder="Enter a place" type="text" />
    <br>
    
      
    <button type="submit" name="postButton">Submit</button>
</form>
<script>
    let autocomplete;
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'),
        {
            types: ['address'],
            componentRestrictions: {'country': ['US']},
            fields: ['address_components', 'geometry'],
        });
        
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeTUFLsAtsOvTdBWTFpz9HOjtIvTZdO_g&libraries=places&callback=initAutocomplete" async defer></script>
<%- include('./partials/footer.ejs') %>