@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

h1 {
    color: #3C6255;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EAE7B1;
}

#autocomplete {
    width: 30%;
}
.vl {
    border-left: 6px solid green;
    height: 100vh;
    position: absolute;
    top:0;
    left:40vh;
  }
.hl {
    border-bottom: 1px solid green;
    width: 40vh;
}
/* Dropdown Button */
.dropbtn {
    background-color: #61876E;
    border-radius: 70%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  #main {
    background-color: #3C6255;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 123.5vh;
    height: 7.5vh;

    display: flex;
    justify-content: flex-end;
}

input[type="post"] {
  padding: 10px;
  font-size: 18px;
  border-radius: 40px;
  height: 6vh;
  border: none;
  font-weight: bold;
  text-align: center;
  align-self: center;
  cursor: pointer;
}

input[type="post"]:hover {
  cursor: pointer;
}

#sidebar {
  padding-top: 0.5vh;
  margin-left: 1vh;
}

#map {
  position: absolute;
  height: 92.5vh;
  top: 7.5vh;
  left: 40.6vh;
  overflow: hidden;
  right: 0;
}